# Entorno virtual
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
wsgi.cpython-*.pyc

# Base de datos local
db.sqlite3

# Variables de entorno
.env

# Archivos estáticos generados
staticfiles/

# VS Code
.vscode/